
body {
  background: url(images/pageglare.png) no-repeat, linear-gradient(to bottom, rgba(48, 142, 200, 0.13) 0, rgba(48, 142, 200, 0.13) 420px, rgba(8, 24, 34, 0.1) 1050px) no-repeat, url(images/page.png), linear-gradient(to bottom, #2A7AAC 0, #2A7AAC 420px, #0F2C3E 1050px) no-repeat;
}
main, footer {
  background: hsla(0, 0%, 100%, .25);
}
span {
  display: block;
}
ol, ul, {
  margin: 0;
}
.tupper {
  width: 70%;
  margin: 0 auto;
}
h3,
div h2 {
  margin: 5px 0;
}
.col-sm-6 {
  padding: 0;
}
main>div,
footer div {
  padding: 1% 0;
}
main .container-fluid {
  background: hsla(0, 0%, 100%, .25);
}
h2, p {
  padding: 0;
  margin: 0;
}
.services ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
/*Navbar Styles*/
.navbar-default {
  background: hsla(0, 0%, 100%, .25);
  border: 0px solid white;
}
.navbar {
  border-radius: 0px;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: #333;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
  color: #777;
}
/*End Navbar Styles*/
.services ul li {
  width: calc(100% / 3);
  list-style: none;
  padding-bottom: 10px;
  box-sizing: border-box;
}
/*project section*/
div.projects p,
div.projects button {
  margin: 5px 0;
}
/*mission section*/
div.mission p {
  margin: 5px 0;
}
div.mission .carousel-inner {
  position: relative;
}
div.mission div.item {
  height: 300px;
}
div.mission .slide1 {
  background: url("../images/slideFAA21.jpg");
  background-repeat: no-repeat;
}
div.mission .slide2 {
  background: url("..images/slideFAA21.jpg");
  background-repeat: no-repeat;
}
footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
  background: hsla(0, 0%, 0%, .25);
  color: hsla(0, 0%, 70%, 1);
}
footer .container-fluid {
  margin-left: 0;
  margin-right: 0;

}
@media (max-width: 905px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
